html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(12%) sepia(27%)
        saturate(928%) hue-rotate(210deg) brightness(90%) contrast(104%);

    --header-bg-color: #eeeeee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
}
